[submodule "shop-launcher"]
	path = apps/shop-launcher
	url = https://github.com/roadriver-tech/shop-launcher.git
[submodule "apps/english-sentence-learner"]
	path = apps/english-sentence-learner
	url = https://github.com/roadriver-tech/english-sentence-learner.git
